@media (max-width: 991px) {
    .container {
        max-width: 992px;
        padding: 0 16px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 767px;
        padding: 0 24px;
    }
    .promo {
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .header {
        &__phone {
            font-size: 14px;
        }
    }
    .advantages {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }
        &__items {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }
        &__item {
            width: 100%;
            max-width: 500px;
            margin-top: 30px;
        }
        &__subheader {
            margin-top: 0px;
        }
    }
    .consultation {
        .title_left {
            font-size: 30px;    
        }
    }
    .catalog {
        &__tabs {
            display: flex;
            justify-content: space-around;
        }
        &__tab {            
            max-width: 200px;
            width: 100%;
            font-size: 16px;
        }
        &-item {
            width: 49% !important;
        }
    }
    .carousel { 
        .slick-dots {
            text-align: center;
            display: none;
            // justify-content: center;
            list-style: none;
        }
        // .slick-prev, .slick-next {    
        //     position: absolute;
        //     top: 50%;            
        //     transform: translateY(-50%);
        //     left: -66px;
        //     border: none;
        //     background-color: #fff;
        //     img {
        //         width: 30px;
        //         height: 50px;
        //     }
        // }
        // .slick-next {
        //     right: -66px;
        //     left: auto;        
          

    }

}
@media (max-width: 575px) {
    .container {
        max-width: 576px;
        padding: 0 18px;
    }
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-weight: 400;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        padding: 50px 0 50px 0;
    }
    .consultation {
        min-height: 580px;
        padding: 50px 0 50px 0;
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        width: 100%;
    }
    .catalog {
        &-item {
            width: 100%;
        }
        &__tab {
            font-size: 14px;
        }
    }

}
@media (max-width: 480px) {
    .container {
        max-width: 479px;
        padding: 0 18px;
    }
    .header {
        &__contacts {
            display: none;
        }
        &__logo {
            width: 70%;
        }
    }
    .promo {
        &__header { 
            font-size: 20px;
        }
        &__subheader { 
            font-size: 14px;
        }
        a {
            margin: 0 auto;
        }
    }  
    .advantages {
        &__header {
            font-size: 24px;
        }
    }
    .consultation {
        .title_center {
            font-size: 24px;
        }
        &__descr {
            font-size: 16px;
        }
    }
    .catalog {
        &__tabs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-item {
            width: 100% !important;
        }
        &__tab { 
            max-width: 480px;
            width: 100%;
            margin: 10px;
            font-size: 14px;
            font-weight: 300;
            transform: skewX(0deg);
            div {
                transform: skewX(0deg);
            }
        }
    }
}
