// @media (max-width: 991px)
// {

// }

@media (max-width: 767px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .header {
        &__phone {
            font-size: 14px;
        }
    }
    .advantages {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }
        &__items {
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            margin-top: 15px;
        }
        &__item {
            width: 100%;
            max-width: 767px;
        }
        &__subheader {
            margin-top: 20px;
        }
    }



}
// @media (max-width: 575px) {
//     .container {
//         max-width: 540px;
//     }
// }